<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Customer-Home</title>
    <style>
        .navbar-nav {
            margin-left: auto; 
        }
        .container-fluid {
            padding-left: 2rem;
        }
        .carousel-item {
            height: 300px; 
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
        .carousel-item h5 {
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .carousel-item p {
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: flex-end;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome {{ customer.full_name }}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="{{ url_for('search_services', customer_id=customer.id) }}">Search</a>
              <a class="nav-link" href="#">Summary</a>
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
        </div>
    </nav>

    <h1 style="text-align: center;">Looking for?</h1>
    {% if customer %}
        <div class="container" style="float: right;">
            <a href="{{url_for('customerprofile', id = customer.id)}}" class="btn btn-info">Profile</a>
        </div>
    {% else %}
        <p>Customer information not available</p>
    {% endif %}

    <div class="container">
        <div class="card p-4 shadow-lg mb-5">
            <div class="row">
                {% for service in services %}
                <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center">
                    <div class="card m-3" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Base Price: ₹{{ service.base_price }}</h6>
                            <p class="card-text">Time Required: {{ service.time_required }} hours</p>
                            <a href="{{ url_for('servicedetails', service_id=service.service_id, customer_id=customer.id) }}" class="btn btn-primary">More Details</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;">
        <div class="d-flex flex-wrap col-md-12 justify-content-center">
            <h5>Current Service Requests</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Assigned Professional (If any)</th>
                        <th>For customer (If any)</th>
                        <th>Requested Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in service_requests %}
                    {% if request.service_status != 'completed' %}
                        <tr>
                            <td>{{ request.serv_req_id }}</td>
                            <td>{{ request.service.name }}</td>
                            <td>{% if request.professional %} {{ request.professional.full_name }} {% else %} Not Assigned {% endif %}</td>
                            <td>{% if request.customer %} {{ request.customer.full_name }} {% else %} Not Assigned {% endif %}</td>
                            <td>{{ request.date_of_req.strftime('%Y-%m-%d') }}</td>
                            <td>{{ request.service_status.title() }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                
            </table>
    </div>
    
    
    <div style="margin-top: 100px;">
        <div class="d-flex flex-wrap col-md-12 justify-content-center">
            <h5>Service History</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Assigned Professional (If any)</th>
                        <th>For customer (If any)</th>
                        <th>Requested Date</th>
                        <th>Completed Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in service_requests %}
                    {% if request.service_status == 'completed' %}
                        <tr>
                            <td>{{ request.serv_req_id }}</td>
                            <td>{{ request.service.name }}</td>
                            <td>{% if request.professional %} {{ request.professional.full_name }} {% else %} Not Assigned {% endif %}</td>
                            <td>{% if request.customer %} {{ request.customer.full_name }} {% else %} Not Assigned {% endif %}</td>
                            <td>{{ request.date_of_req.strftime('%Y-%m-%d') }}</td>
                            <td>{{ request.date_of_completion.strftime('%Y-%m-%d') }}</td>
                            <td>{{ request.service_status.title() }}</td>
                            <td>
                                {% if request.service_status == 'completed' %}
                                    {% if request.ratings | length > 0 and request.ratings[0].rating_status == 'True' %}
                                        <span class="badge bg-success">Reviewed</span>
                                    {% else %}
                                        <a href="{{ url_for('rate_service', serv_req_id=request.serv_req_id) }}" class="btn btn-success">Rate Service</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            
                            
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                
            </table>
        </div>
    </div>
    
</body>
</html>
