<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejected Professional</title>
</head>
<body>
    <h1 style="text-align: center">We are very sorry to inform!</h1>
    <h3 style="text-align: center">Your profile isn't satisfying our criteria, you may reapply.</h3>
    <div style="text-align: center" >
        <a href="{{ url_for('logout') }}" class="btn btn-info">Return to Home Page</a>
    </div>
</body>
</html>